<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/project.html" %}


<!-- Setting up variables to customize "project" details to be specific to index page -->
{% set project = "Portfolio" %}
{% set overview = "https://nighthawkcodingsociety.com/projectsearch/details/Flask%20Portfolio%20Starter" %}
{% set repo = "https://github.com/nighthawkcoders/flask_portfolio/" %}

{% comment %} var dict = [];

dict1["Event"]=prompt("What event do you want to schedule? ");
dict2["Date"]=input


  Name = "Event"
  Date = "Etc"

dict[key] = value
dict.key = new_value; 
var value = dict.key;
delete dict.key; {% endcomment %}

  {% comment %} let saveButton = [];
    const addEvent = (ev)=>{
      ev.preventDefault();
      let Event = {
        date: 
        title:
       }
    }  {% endcomment %}